body {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sender {
    font-weight: bold;
    font-size: 0.8em;
}
.message {
    white-space: break-spaces;
}
.bubble {
    background: gainsboro;
    margin-bottom: 0.5em;
}
.view-tab {
    flex-grow: 1;
}